<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true" name="XMLConfig"
	packages="org.apache.logging.log4j">
	<Properties>
		<Property name="filename">alfresco-prepare-bulk-import.log</Property>
	</Properties>
	<Filter type="ThresholdFilter" level="trace" />

	<Appenders>
		<Appender type="Console" name="STDOUT">
			<Layout type="PatternLayout" pattern="[%p] %c{1}.%M> %m%n" />
			<Filters>
				<Filter type="MarkerFilter" marker="FLOW" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<Filter type="MarkerFilter" marker="EXCEPTION" onMatch="DENY"
					onMismatch="ACCEPT" />
			</Filters>
		</Appender>
		<Appender type="Console" name="FLOW">
			<Layout type="PatternLayout" pattern="%C{1}.%M %m %ex%n" /><!-- 
				class and line number -->
			<Filters>
				<Filter type="MarkerFilter" marker="FLOW" onMatch="ACCEPT"
					onMismatch="NEUTRAL" />
				<Filter type="MarkerFilter" marker="EXCEPTION" onMatch="ACCEPT"
					onMismatch="DENY" />
			</Filters>
		</Appender>
		<Appender type="File" name="File" fileName="${filename}">
			<Layout type="PatternLayout">
				<Pattern>%d [%p] %c{1}.%M> %m%n</Pattern>
			</Layout>
		</Appender>
	</Appenders>

	<Loggers>
		<Logger name="de.thowichmann.allrecht" level="debug">
		</Logger>

		<Root level="warn">
			<AppenderRef ref="STDOUT" />
			<!-- <AppenderRef ref="File" /> -->
		</Root>
	</Loggers>

</Configuration>